p.pet {font-family: Georgia, 'Times New Roman', Times, serif;
    color: #A569BD;
    font-size: 50px;

}
p.estudios{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
    font-size: 50px;
}
p.hobbies{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: pink;
    font-size: 50px;
}